/* Animation */
.up-arrow {
  transform: rotate(180deg);
}

.active {
  transform: translateX(-50vw);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
