.fundation_container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 25%);
}

.fundation_brand {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
}

.fundation_brand img {
  height: 50%;
}

.fundation_text {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  text-align: justify;
  padding-left: 10%;
}

.fundation_buttons {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.button_donate {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}

.button_donate button {
  height: 30%;
  width: 170px;
  border-radius: 30px;
  border: none;
  background-color: #fb9f00;
  color: #ffffff;
  transition: all 0.4s ease-in;
}

.button_more {
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
}

.button_more button {
  height: 30%;
  width: 170px;
  border-radius: 30px;
  border: none;
  background-color: #0086fb;
  color: #ffffff;
  transition: all 0.4s ease-in;
}

button:hover {
  transform: scale3d(1.2, 1.2, 5);
  cursor: pointer;
}
