.home_main_container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background: linear-gradient(to bottom, #2a3945, #27486c, #18659e);
}

.aoki_cover {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  height: calc(100vh - 4.8rem);
}

.aoki_cover img {
  position: fixed;
  height: 76%;
  bottom: 0px;
}

.aoki_text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.banner_container {
  padding-bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner_container .banner {
  width: 77%;
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button_container a {
  width: 38%;
  transition: all 0.4s ease-in;
}

.button_container .button {
  width: 100%;
  align-self: center;
}

.button_container a:hover {
  transform: scale3d(1.2, 1.2, 5);
}
