.video_container {
  background-color: #1c1d1d;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

.video_feed {
  display: flex;
  height: 100%;
  overflow: auto;
  color: #ffffff;
}

.video_feed table {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.video_feed table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: small;
  letter-spacing: 2px;
}

.miniature {
  cursor: pointer;
}

.miniature img {
  height: 150px;
}

.actual_video {
  height: 100%;
  display: grid;
  grid-template-rows: 75% 25%;
}

.video_player {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.video_title {
  text-align: center;
  padding-top: 30px;
  color: #ffffff;
  letter-spacing: 10px;
  font-size: large;
}

::-webkit-scrollbar {
  width: 0px;
}
