.navbar_container {
  height: 4.8rem;
  background-color: #2a3945;
}

.navbar_list {
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_list li {
  list-style: none;
}

.navbar_list li a {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo {
  height: 4rem;
  width: 10.5rem;
  background: url("../../images/aoki_logo.png");
  background-size: 10rem;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow {
  height: 10px;
  padding-left: 10px;
}

.navbar_list li {
  color: #ffffff;
}

.navbar_list li ul {
  display: none;
  position: absolute;
  min-width: 0px;
  padding-top: 10px;
}

.navbar li:hover > ul {
  display: flex;
  flex-flow: column;
}

.navbar_list li ul li {
  padding-bottom: 5px;
  font-size: small;
}

.instagram {
  height: 15px;
  padding-right: 15px;
}

.facebook {
  height: 17px;
  padding-right: 14px;
}

.twitter {
  height: 15px;
  padding-right: 13px;
}

.spotify {
  height: 17px;
  padding-right: 15px;
}

.youtube {
  height: 13px;
  padding-right: 13px;
}

.soundcloud {
  height: 9px;
  padding-right: 11px;
}
